@font-face {
  font-family: "vga";
  src: url("res/WebPlus_Cordata_PPC-21.woff") format("woff");
}

html,
body {
  height: 100%;
}

:root {
  --background-color: #fdfff4;
  --text-color: #000;
  --status-bar: rgba(225, 226, 217, 0.7);
  --highlight-warm: #E06F8B;
  --highlight-cool: #B2DCEF;

  --background-color: #222;
  --text-color: #eaa49c;
  --text-color-unselected: #999;
  --status-bar: #333;

  --c64-light-blue: #44bbff;
  --c64-light-green: #aaff66;
  --c64-pink: #ff7777;
  --c64-orange: #dd8855;
}

.ok {
  background-color: var(--highlight-cool);
  color: #222;
}
.fail {
  background-color: var(--highlight-warm);
  color: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111;
    /*    --text-color: #7f938b;*/
    --status-bar: #333;
  }
}

html {
  box-sizing: border-box;
  font-family: monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
*:focus {
  outline: 1px dotted rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: vga, monospace;
  font-size: 1rem;
  overflow: hidden;
  height: 100vh;
}

a {
  color: var(--highlight-warm);
}
input,
button,
select,
textarea {
  font-size: 1.2rem;
  font-family: vga, monospace;
  caret-color: var(--highlight-warm);
  border-radius: 2px;
  border: 0;
  scrollbar-width: none;
}

button {
  background-color: #5d5f55;
  border: 0;
  cursor: pointer;
  border-left: 1px solid #888;
  border-top: 1px solid #888;
}
button:hover {
    background-color:var(--highlight-cool);
}
.Controls button:last-child {
  background-color: var(--highlight-warm);
}

input {
  color: #fff;
  background-color: #5d5f55;
  border: 0;
  width: 50px;
}

#board {
  height: 100vh;
  display: grid;
  grid-template-rows: 20px 1fr;
}
.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.boxes > * {
  display: grid;
  grid-template-rows: 1fr 20px;
}
.boxes > * > * {
  width: 100%;
}
textarea {
  padding: 8px;
  background-color: var(--background-color);
  color: var(--text-color-unselected);
  resize: none;
}
.boxbar {
  background-color: var(--status-bar);
  color: #5d5f55;
}
#srcbox {
  grid-row-start: 1;
  grid-row-end: 3;
}
#docs {
  padding: 8px;
  max-height: 40px;
}
#docs #mns span { cursor: pointer }
#desc { padding-top: 8px; }
textarea:focus {
  color: var(--text-color);
}

#mem {
    cursor: pointer;
}

select {
  border: 0;
  background-color: var(--highlight-warm);
}
.controls {
  display: flex;
  background-color: #333;
  color: #999;
  padding: 1px 0;
}
.controls > div {
  flex: 1;
}
.controls .buttons {
  display: inline-flex;
}
.controls .buttons button,
.boxbar > * {
  margin-right: 1px;
}
.controls .psw {
  text-align: right;
}
#screens {
    position: absolute;
    width: 85%;
}
#screens canvas {
  background-color: #444;
  width: 48%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/* hide sprite screen by default */
#screen_sprite {
    display: none;
}

#tick_led {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #f00;
    border-radius: 3px;
}

#help {
    padding-top: 2px;
}

.blinkn {
    color: var(--highlight-cool);
}

#palette{
    width:42px;
    display:inline-block
}
.pal {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.selected_pal {
    border:2px dotted orange;
}

#pen_size {
}
#pen_size > div {
    display: inline-block;
    width: 50px;
    height: 20px;
    border: 1px solid #fff;
    text-align: center;
}

#screen_sprite canvas {
    image-rendering: crisp-edges;
    cursor: crosshair;
    border: 2px solid #333;
    border-radius: 6px;
}
#tile_canvas {
    width: 256px;
}
#tiles_canvas {
    width: 256px;
    cursor: pointer !important;
}
#map_canvas {
    width: 512px;
}

#map > div,
#tiles > div,
#tile > div {
    text-align: center;
}
#tile .boxbar {
    text-align: left;
    margin-top: 2em;
}

#fs { cursor: pointer }
