:root {
  --background-color: #fdfff4;;
  --text-color: #000;
  --status-bar: rgba(225, 226, 217, 0.7)
} 

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222;
    --text-color: #7f938b;
    --status-bar: #333;
  }
}

html {
  box-sizing: border-box;
  font-family: monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
*:focus {
  outline: 1px dotted rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

input,
button,
textarea {
  font-family: monospace;
}

button {
  background-color: #b4e3d1;
  border: 0;
  cursor: pointer;
}
.controls button:last-child {
  background-color: #eaa49c;
}

input {
  color: #fff;
  background-color: #5d5f55;
  border: 0;
  width: 50px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}

.boxes > * {
  height: calc(50vh - 18px);
  flex: 0 0 33.333333%;
  border-right: 1px dotted rgba(0, 0, 0, 0.4);
  position: relative;
}
.boxes > * > textarea {
  width: 100%;
  height: 100%;
  
}
.boxes > * > .boxbar {
  width: 100%;
  background-color: var(--status-bar);
  color: #5d5f55;
  position: absolute;
  bottom: 0;
}

textarea {
  font-size: 8pt;
  border: 0;
  padding: 8px;
  background-color:var(--background-color);
  color: var(--text-color);
  resize: none;
}

.controls {
  display: flex;
  align-items: space-between;
  background-color: #333;
  color: #999;
}
.controls > div {
  flex: 1;
}
.controls .buttons {
  display: inline-flex;
}
.controls .buttons button {
  margin-right: 1px;
}
.controls .psw {
  text-align: right;
}
.status {
  background-color: #333;
  color: #999;
}
#screen {
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-color: #444;
}
